/* Estilos para Navbar */ 
/* .navbar {
  background-color: black;
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Ajustes adicionales según tus necesidades */
